<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="stringConexao" connectionString="server='local'; user id='pdv'; password='123321'; Database='lacdb'"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>