<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="ProjetoTeste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="stringConexao" connectionString="server='SERVER'; user id='impetus'; password='123123'; Database='lacdbTeste1'"/>
  </connectionStrings>
<applicationSettings>
    <ProjetoTeste.Properties.Settings>
        <setting name="ProjetoTeste_NFeRecepcao_NfeAutorizacao" serializeAs="String">
            <value>https://nfe-homologacao.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao.asmx</value>
        </setting>
        <setting name="ProjetoTeste_RecepcaoEvento_RecepcaoEvento" serializeAs="String">
            <value>https://nfe-homologacao.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
        </setting>
        <setting name="ProjetoTeste_NFeInutilizacao2H_NfeInutilizacao2" serializeAs="String">
            <value>https://nfe-homologacao.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
        </setting>
    </ProjetoTeste.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
